.grades {
  color: palevioletred;
  font-size: 35px;
}
.row {
  position: absolute;
  top: 10px;
  left: 60px;
}

hr {
  color: palevioletred;
  height: 30px;
  size: 30px;
}
h4 {
  background-color: palevioletred;
  border-radius: 40px;
  padding: 10px 30px;
  text-align: center;
  color: white;
}
img {
  border-radius: 100px;
}
ul {
  list-style: none;
  font-size: 20px;
}
i {
  color: yellow;
  font-size: 150px;
  display: block;
  position: absolute;
  top: 80px;
  right: 80px;
}
body {
  background-color: lightcyan;
}
.list-group-item {
  background-color: lightcyan;
  padding: lightcyan;
  border: solid lightpink;
}
.units {
  font-size: 15px;
  position: absolute;
  top: 170px;
  left: 50px;
}
#date {
  list-style: none;
}
